createdAt: "2022-04-22T13:54:22.860Z"
updatedAt: "2022-04-22T13:59:43.387Z"
type: "SNIPPET_NOTE"
folder: "3453083e7d43f0a76107"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('enjoy').innerHTML
      
      console.log(boostnote)
    '''
  }
]
tags: []
isStarred: false
isTrashed: true
