createdAt: "2022-04-22T13:54:38.402Z"
updatedAt: "2022-04-22T13:55:18.405Z"
type: "MARKDOWN_NOTE"
folder: "3409b5f37e43d1f26709"
title: "Basics of OOP"
content: '''
  # Basics of OOP
  
  **P**rogramação **O**rientada a **O**bjetos (POO) é um modelo de programação baseado no conceito de fazer um agrupamento de dados que chamamos de objetos, e comportamentos relacionados aqueles dados que são conhecidos como métodos. Os **objetos** são contruidos de um conjunto de _blueprints_, definidos por um programador, chamado de **classes**.
  
  ## Obejtos e Classes
  
'''
tags: []
isStarred: false
isTrashed: false
