createdAt: "2022-04-22T13:57:35.003Z"
updatedAt: "2022-04-22T14:05:02.679Z"
type: "MARKDOWN_NOTE"
folder: "3409b5f37e43d1f26709"
title: "How to start to programming"
content: '''
  # How to start to programming
  
  ### Step 1 - The essentials
  - Basics of OOP
  - Basics of Kotlin
  - Basics of Git
  
  ### Step 2 - Must know
  
  - What is Framework?
  - What is Relational Database?
  - What is CRUD? 
  - Verbs Http
  
  teste
'''
tags: []
isStarred: false
isTrashed: false
